body {
    padding-top: 50px;
}

#wrapper{
	margin: auto;
	padding: 15px;
	max-width: 800px;
}

#name{
	padding:10px 0px 10px 0px;
}

#email{
	padding:10px 0px 10px 0px;
}

#subject{
    padding:10px 0px 10px 0px;
}

#message{
	padding:10px 0px 10px 0px;
}

#submit{
	padding:10px 0px 10px 0px;
}